/*Aqui se encuentra los cambios que se usaron para la pagina*/
/*Dimensiones del logo*/
.imagenes img{
    width: 30%;
    height: 30%;    
}
/*texto que dice instituto tecnico ricaldone en el menu*/
.texto{
    font-size: 200%;
    margin-left: 2%;
}
/*el texto del slider que dice promo 17*/
.mitexto{
    -webkit-text-fill-color: #fff;
    -webkit-text-stroke: 1px #00e5ff;
}
/*los titulos de la tarjetas ubicadas en ofertas academicas*/
.tituloC{
    color: #fff;
    font-size: 20px;
}

.tituloI{
    color: #000;
    font-size: 20px;
}
/*justificacion del texto dentro de las cartas de ofertas academicas*/
p.justificar{
    text-align: justify;
}

.text{
    color: black;
}
/*el tamaño de las imagenes de instalaciones*/
.row img{
    width: 100%;
    height: 200px;
}

/*dimensciones del mapa que esta ubicadoen eso*/
#map{
    height: 200px;
    background: red;
}
.fb-like{
bottom: 6px;
}
/*espacion entre los botones de facebook y twittwer*/
.bajon img{
    height: 24px;
}
/*configuracion del boton de instagram*/
.ig-b- { 
    display: inline-block; 
    }
.ig-b- img { 
    visibility: hidden; 
    }
.ig-b-:hover { 
    background-position: 0 -60px; 
    } 
.ig-b-:active { 
    background-position: 0 -120px; 
    }
.ig-b-v-24 { 
    width: 137px; height: 24px; background: url(../img/intagram3.png) no-repeat 0 0; 
    }
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
.ig-b-v-24 { 
    background-image: url(../img/intagram2.png); background-size: 160px 178px; } 
    }

 @media screen and (max-width: 910px){
    .texto{
        font-size: 100%;
        margin-left: 2%;
    }
 }   

 @media screen and (max-width: 560px){
    .texto{
        display: none;
    }
 }   