.imagenes img{
    width: 30%;
    height: 30%;    
}
.texto{
    font-size: 200%;
    margin-left: 2%;
}

.mitexto{
    -webkit-text-fill-color: #fff;
    -webkit-text-stroke: 1px #00e5ff;
}

.tituloC{
    color: #fff;
    font-size: 20px;
}

p.justificar{
    text-align: justify;
}

.text{
    color: black;
}

.row img{
    width: 100%;
    height: 200px;
}


#map{
    height: 200px;
    background: red;
}
.fb-like{
bottom: 6px;
}
.ig-b- { 
    display: inline-block; 
    }
.ig-b- img { 
    visibility: hidden; 
    }
.ig-b-:hover { 
    background-position: 0 -60px; 
    } 
.ig-b-:active { 
    background-position: 0 -120px; 
    }
.ig-b-v-24 { 
    width: 137px; height: 24px; background: url(../img/intagram3.png) no-repeat 0 0; 
    }
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
.ig-b-v-24 { 
    background-image: url(../img/intagram2.png); background-size: 160px 178px; } 
    }